<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/head-fragment :: header"></div>
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/menu-fragment :: sidebar-menu"></div>
        <div class="col py-3">
            Content area.............................................................................
        </div>
    </div>
</div>


<div th:replace="fragments/head-fragment :: scripts"></div>
</body>
</html>